params.included_phenotype_ids = '/gpfs/space/home/a82371/CoLaus/CoLaus_analyzed_genes_test.txt'
params.outdir = './'


// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
  singularity_profile {
    singularity.enabled = true
  }
  tartu_hpc { includeConfig 'conf/tartu_hpc.config'}
  testing_tartu_hpc { includeConfig 'conf/testing_tartu_hpc.config'}
}

report {

  enabled = true
  file = 'CoLaus_report.html'

}

trace {

  enabled = true
  file = 'CoLaus_workflow_trace.txt'

}

manifest {
  name = 'CoLaus_workflow'
}